!!! 5
html(lang="en")
  head
    title Reagan Match
    link(rel='stylesheet',href='/styles/styles.css')
    link(rel='stylesheet',href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    link(rel='stylesheet',href='/styles/bootstrap.css')

  body
   .navbar
    a.navbar-brand(href='#') ReaganMatch


    p.navbar-text.pull-right
     a.navbar-link(href='#')
          | Sign Out   


   block content
    
   block scripts
