!!! 5
html(lang="en")
  head
    title Reagan Match
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    link(rel='stylesheet',href='/styles/styles.css')
    link(rel='stylesheet',href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    link(rel='stylesheet',href='/styles/bootstrap.css')
    link(rel='shortcut icon', type='image/x-icon', href='img/heart.ico')

  body

   block content
    
   block scripts
