
    <div class="container">
        	<div>
	            <a class="pull-left" href="">
	                <h3>ReaganMatch <i class="fa fa-smile-o "></i></h3>
	            </a>
            </div>

            <div>
            	<br>
	            <ul class="nav nav-pills pull-right top-nav">
	                <li class="top-nav-item"><a href="#about">About</a></li>
	                <li class="top-nav-item"><a href="#login">Sign In</a></li>
	                <li class="top-nav-item"><a href="#register">Sign Up</a></li>
	            </ul>
        	</div>
    </div>


<br/>

 <div class="jumbotron one" >
    <div class="container">
		<div class="row"> 
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"> </div>
			<div class="col-xs-12 col-sm-10 col-md-11 col-lg-10 grayDiv "   >
				<h3>Welcome to Reagan <span class="redi"> Match 
					<i class="fa fa-smile-o fa-1x "></i></span>
				</h3>

				<p class="justifyText">  ReaganMatch is a website where students register and answer a questionnaire, which divides into simple questions and special questions. As you answer the special questions, you assign a level of importance. Then, we match up your answers with other students through a special algorithm. The Reagan Match application returns the results based on your interests and we show in your account the best and worst ten matches of students from your grade and the whole school.  </p>

				<p class="justifyText">  In order to see your profile with your matches, you will
				have to pay to the Calculus Club during lunch.  </p>

			
			</div> 

		</div> 

	</div> 
</div> 

    <div class="blog-footer">
     <h3 class="name greens">ReaganMatch <i class="fa fa-smile-o "></i> &nbsp; 
     <a class="" href="https://www.facebook.com/reaganmatch"><i class="fa fa-facebook fa-1x"></i></a>&nbsp; 
     <a class="" href="https://twitter.com/ReaganMatch"><i class="fa fa-twitter fa-1x"></i></a></h3>
    </div>
