<div class="myContainer">
  <div class="row">


    <div class="alert alert-danger hidden">*INCORRECT PASSWORD*</div>

  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

      <h2>Calculus Team Members Login</h2>
      <hr>
      <form class="form-horizontal col-md-12 col-sm-12 col-xs-12" >


        <div class="form-group">
          <p><strong>Password</strong></p>
                <div class="col-sm-10 col-xs-12 ">
            <input type="password" name="password" class="form-control" placeholder="password">
          </div>
        </div>


        <br />

        <div class="form-group">
          <div class="col-xs-12  col-lg-10">

              <input type="submit" value="Login Now" class="btn btn-default">
          </div>
        </div>


     
      </form>

         <br />
        <p class="reds"><strong>You are not a member?</strong> Close this window immediately, you could get
        in trouble. We have hackers monitoring this site. *You were WARNED* </p> <br />
    </div> <!-- col -->
  </div> <!-- row  -->
</div><!-- container -->


