<div class="nav nav-pills">
  <p class="navbar-brand reds">ReaganMatch <i class="fa fa-smile-o "></i></p>
  <p class="navbar-text pull-right"><a href="#">Sign Out &nbsp;</a></p>
</div>

<div class="myContainer"> 
	<div class="row"> 
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"> </div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 blackBorder " >
			<h4 class="up">Matches for <%= name.first +" "+ name.last  %></h4>
			<hr>
			
				<div class="panel panel-default">
				  <div class="panel-heading"><strong> Best<span class="greens"> School</span> Matches 
				  </strong></div>
			

				  <ul class="list-group" id="bestGeneral">

				  </ul>
				</div>

				<div class="panel panel-default">
				  <div class="panel-heading"><strong> Best <span class="greens"> <%= grade %> </span>Grade Matches 
				  </strong></div>

				  <ul class="list-group" id="bestGrade">

				  </ul>
				</div>

				<div class="panel panel-default">
				  <div class="panel-heading"><strong><span class="reds">  Worst </span> School Matches 
				  </strong></div>

				  <ul class="list-group" id="worstGeneral">

				  </ul>

				</div>

				<div class="panel panel-default">
				  <div class="panel-heading"><strong><span class="reds">  Worst </span> Grade Matches 
				  </strong></div>

				  <ul class="list-group" id="worstGrade">

				  </ul>

				</div>

			</div>
				
			<br><br><br><br>




	</div> <!-- row  -->
	<br/>
</div> <!-- container  -->


    <div class="blog-footer">
     <h3 class="name greens">ReaganMatch <i class="fa fa-smile-o "></i> &nbsp; 
     <a class="" href="https://www.facebook.com/reaganmatch"><i class="fa fa-facebook fa-1x"></i></a>&nbsp; 
     <a class="" href="https://twitter.com/ReaganMatch"><i class="fa fa-twitter fa-1x"></i></a></h3>
    </div>


