
    <div class="container">
        	<div>
	            <a class="pull-left" href="">
	                <h3>ReaganMatch <i class="fa fa-smile-o "></i></h3>
	            </a>
            </div>

            <div>
            	<br>
	            <ul class="nav nav-pills pull-right top-nav">
	                <li class="top-nav-item"><a href="#about">About</a></li>
	                <li class="top-nav-item"><a href="#login">Sign In</a></li>
	                <li class="top-nav-item"><a href="#register">Sign Up</a></li>
	            </ul>
        	</div>
    </div>


<br/>

<div class="myContainer blackBorder">

		<div class="row center-block"> 

			<div class=" col-md-12 col-sm-12 col-xs-12" id="addingInfoForm">
									<br>
				<div class="panel panel-default col-xs-12 col-md-12 col-sm-12">

				<form  class="form-horizontal col-md-12 col-sm-12 col-xs-12"  role="form">

					<h4 class="centerText redi">Student Registration </h4>
					<div  class="alert alert-danger">***You have an empty answer or a mistaken confirmation entry.*** </div>

					<hr>
				   <div class="form-group">

					    <strong> <p/>Email</p></strong> 
					    <div class="col-sm-10 col-xs-12">
					      <input type="email" class="form-control" name="email" placeholder="email">
					    </div>
  				    </div>

  				    <div class="form-group">

					    <strong> <p/>Confirm Email</p></strong> 
					    <div class="col-sm-10 col-xs-12">
					      <input type="email" class="form-control" name="confirmEmail" placeholder="confirm email">
					    </div>
  				    </div>

  				    <div class="form-group">

					    <strong> <p/>Password</p></strong> 
					    <div class="col-sm-10 col-xs-12">
					      <input type="password" class="form-control" name="password" placeholder="confirm password">
					    </div>
  				    </div>

  				    <div class="form-group">

					    <strong> <p/>Confirm Password</p></strong> 
					    <div class="col-sm-10 col-xs-12">
					      <input type="password" class="form-control" name="confirmPassword" placeholder="password">
					    </div>
  				    </div>

  				    <div class="form-group">
					    <strong> <p/>First Name</p></strong> 
					    <div class="col-sm-10 col-xs-12">
					      <input class="form-control" name="firstName" placeholder="first name">
					    </div>
  				    </div>

  				    <div class="form-group">
					    <strong> <p/>Last Name</p></strong> 
					    <div class="col-sm-10 col-xs-12">
					      <input class="form-control" name="lastName" placeholder="last name">
					    </div>
  				    </div>

  				    <div class="form-group">
					    <strong> <p/>Grade</p></strong> 
					    <div class="col-sm-10 col-xs-12">
					      <select class="form-control" id="grade">
					      	  <option>*Choose you grade*</option>
							  <option>Freshman</option>
							  <option>Sophomore</option>
							  <option>Junior</option>
							  <option>Senior</option>
						  </select>
					    </div>
  				    </div>

  				    <div class="form-group">
					    <strong> <p/>Gender</p></strong> 
					    <div class="col-sm-10 col-xs-12">
					      <select class="form-control " id="gender">
					      	  <option>*Gender*</option>
							  <option>Female</option>
							  <option>Male</option>
						  </select>
					    </div>
  				    </div>

  				    <div class="form-group">
					    <strong> <p/>Looking for a </p></strong> 
					    <div class="col-sm-10 col-xs-12">
					      <select class="form-control " id="preference">
					      	  <option>*Gender*</option>
							  <option>Female</option>
							  <option>Male</option>
							  <option>Male or Female</option>
						  </select>
					    </div>
  				    </div>

  				    <div class="form-group" >
  				    	<strong> <p/>Simple questions</p></strong> 
  				    	<div class="col-sm-10 col-xs-12" id="simpleQuestions" >

  				    	</div>

  				    </div>

  				    

  				    <div class="form-group" >
  				    	<strong> <p/>Special questions</p></strong> 
  				    	<div id="specialQuestions" class="col-sm-10 col-xs-12" >

  				    	</div>

  				     </div>

			<div class="form-group" >
  				     <h4>Enter the numbers you see with digits just to see if you are human and not software.</h4>
  				  <canvas id="myCanvas" width="140" height="120" > </canvas>
  				<div id="specialQuestions" class="col-sm-10 col-xs-12 col-md-6" >
  				  <input  class="form-control" name="code" placeholder="verification code">
  				  <small>ex: [one two three four ] you enter, 1234  </small>
	    		</div>
	    		<br/>
	     	</div>	

				  <button id="sub" class="btn btn-default btn-sm btn-block">Submit</button>
				  <br> <br>
				</form>
				</div>
			</div><!--  col -->



			
		</div> <!--  row -->

</div> <!-- myContainer -->

<br>

    <div class="blog-footer">
     <h3 class="name greens">ReaganMatch <i class="fa fa-smile-o "></i> &nbsp; 
     <a class="" href="https://www.facebook.com/reaganmatch"><i class="fa fa-facebook fa-1x"></i></a>&nbsp; 
     <a class="" href="https://twitter.com/ReaganMatch"><i class="fa fa-twitter fa-1x"></i></a></h3>
    </div>

