<div class="navbar">
  <p class="navbar-brand reds">ReaganMatch</p>

  <p class="navbar-text pull-right"><a href="#">Sign Out</a></p>
</div>

<div class="myContainer blackBorder">

		<div class="row center-block"> 
			<br>
			<div class=" col-md-12 col-sm-12">
				<a href="#viewInformation" class="btn btn-default "> <i class="fa fa-edit"></i>&nbsp; View</a>
				<button id="add" class="btn btn-default "> <i class=" greens fa fa-plus"></i>&nbsp; Add Questions</button>
			</div>


			<div class=" col-md-12 col-sm-12">
				<br>
				<div class="panel panel-default">
				  <div class="panel-heading"><strong>Settings</strong></div>
				  <div class="panel-body">
				    

					    <form  class="form-horizontal col-md-12 col-sm-12 col-xs-12"  role="form">

						<h4>&nbsp; Match Settings </h4>
						<hr>
					   <div class="form-group">
						    <strong> <p/>I. # simple of Questions</p></strong> 
						    <div class="col-sm-10 col-xs-10">
						      <input class="form-control" name="questions" placeholder="# questions">
						    </div>
	  				    </div>

	  				    <div class="form-group">
						    <strong> <p/>II. # of Special Questions</p></strong> 
						    <div class="col-sm-10 col-xs-10">
						      <input class="form-control" name="specialQuestions" placeholder="special questions">
						    </div>
	  				    </div>

	  				    <div class="form-group">
	  				    	<strong> <p/>III. The Questions</p></strong> 
	  				    	<p>Please write the answers separated by a comma. </p>
						    <div class="col-sm-10 col-xs-10" >
						    	
						    	<div class="form-group" id="stringQuestions">

						    	</div>
						    </div>
	  				    </div>


					  <button type="submit" class="btn btn-default">Submit</button>
					  <br> <br>
					</form>
				  </div>

				
				</div>

			</div>

			
		</div> <!--  row -->

</div> <!-- myContainer -->


<!-- 				  <div class="form-group">
				    <label for="exampleInputFile">Image input</label>
				    <input type="file" id="exampleInputFile">
				    <p class="help-block">Example block-level help text here.</p>
				  </div> -->

