<div class="navbar">
  <p class="navbar-brand reds">ReaganMatch <i class="fa fa-smile-o"></i></p>

  <p class="navbar-text pull-right"><a href="#">Sign Out</a></p>
</div>

<div class="myContainer">
	<h3  class="alert alert-success alert-dismissable">>****** </h3>
</div>

<div class="myContainer blackBorder">

		<div class="row center-block"> 
			<br>
			<div class="col-sm-12 col-md-12  col-xs-12 col-lg-12">
			 	<a href="#viewInformation" class="pull-right btn btn-default" >Back </a> <a class="pull-right"> &nbsp; &nbsp;</a>
			 	<button id="logs" class="pull-right btn btn-default" >Logs</button>
			 	<button id="refresh" class="pull-right btn btn-default" >Refresh Stats </button>

			 	<h4> Statistics </h4>
			 	<hr>
			 	<p id="totalStudents" class="info"></p>
			 	<hr>
			 	<p id="totalMaleStudents" class="info"></p>
			 	<hr>
			 	<p id="totalFemaleStudents" class="info"></p>
			 	<hr>
			 	<p id="totalFreshmans" class="info"></p>
			 	<hr>
			 	<p id="totalSophomores" class="info"></p>
			 	<hr>
			 	<p id="totalJuniors" class="info"></p>
			 	<hr>
			 	<p id="totalSeniors" class="info"></p>
			 	

			</div>
			


		</div> <!--  row -->


</div> <!-- myContainer -->
<br/><br/>

