<div id="fb-root" >

</div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="navbar">
  <p class="navbar-brand reds">ReaganMatch <i class="fa fa-smile-o "></i></p>

  <p class="navbar-text pull-right"><a href="#">Home</a></p>
</div>


    <div class="container blackBorder">
<div class="row "> 
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"> </div>
	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10  centerText" >
		<h2 >Thank you for registering to Reagan<span class="redi">Match!
			<i class="fa fa-smile-o fa-3x "></i></span>
		</h2>

			<hr>
			<h4> Please pay as soon as possible with the members of the Calculus Club in order for your
				account to be activated. The selling date for accounts to be activated is still 
				to be announced.   </h4>
				<br/>
				</div> 
	</div>			
		<div class="col-xs-1 col-sm-4 col-md-2 col-lg-1"> </div>

			<div class="fb-like col-xs-12 col-sm-4 col-md-5 col-lg-5" data-href="https://www.facebook.com/reaganmatch" data-width="200" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

	

	
		<div class="col-xs-1 col-sm-4 hidden-md hidden-lg"> <br/></div>
		<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
				<a href="https://twitter.com/ReaganMatch" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @twitterapi</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						<br/><br/><br/><br/><br/><br/>
		</div>


</div> 

</div> 
<br/><br/>
    <div class="blog-footer">
     <h3 class="name greens">ReaganMatch <i class="fa fa-smile-o "></i> &nbsp; 
     <a class="" href="https://www.facebook.com/reaganmatch"><i class="fa fa-facebook fa-1x"></i></a>&nbsp; 
     <a class="" href="https://twitter.com/ReaganMatch"><i class="fa fa-twitter fa-1x"></i></a></h3>
    </div>