<div class="navbar">
  <p class="navbar-brand reds">ReaganMatch <i class="fa fa-smile-o"></i></p>

  <p class="navbar-text pull-right"><a href="#">Sign Out</a></p>
</div>

<div class="myContainer ">
	<h3  class="alert alert-success alert-dismissable">>***You have an empty answer or a mistaken confirmation entry.*** </h3>
</div>

<div class="myContainer blackBorder">

		<div class="row center-block"> 
			<br>
			<div class="col-sm-12 col-md-12  col-xs-12 col-lg-12">
				<button id="match" class="btn btn-default "> <i class=" greens fa fa-random"></i>&nbsp; Match</button>
				<button id="refresh" class="btn btn-default "> <i class=" purples fa fa-refresh"></i>&nbsp; Add</button>
			 	<a href="#settings" class="btn btn-default set"><i style="color:orange;" class="fa fa-cog "></i> &nbsp;  Settings </a>
			 	<a href="#stats" class="btn btn-default "> <i class=" purples fa fa-bar-chart-o"></i>&nbsp; Stats</a>

			</div>

		
				
			 	<div class="col-sm-12 col-md-10  col-xs-12 col-lg-10  "  >
			 		<br> 
                  <input type="text" class="form-control" id="student" placeholder="Search for Student" />
				<button id="search" class="btn btn-default ">  Search</button>
                  <button id="clear" class="btn btn-default ">  General Matches</button>
                </div>
			

			<div class="col-sm-12 col-md-12  col-xs-12 col-lg-12">
				<br>
				<div class="panel panel-default">
				  <div class="panel-heading">Student Matches</div>
				  <div class="panel-body">
				    You have no students matches yet!
				  </div>

				  <ul class="list-group" id="addingList">

				  </ul>

				</div>

			</div>

		</div> <!--  row -->

</div> <!-- myContainer -->

